{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block body %}
<header>
    <div class="edge-header"></div>
</header>
<main class="home-st">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'accueil' %}">Accueil</a></li>
                <li class="breadcrumb-item active">Connexion</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-body">
                <h1>{% trans "Sign In" %}</h1>

                {% get_providers as socialaccount_providers %}
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="primaryAction btn btn-dark btn-lg btn-block" type="submit">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
    </div>

</main>
{% endblock %}