{% extends "base.html" %}
{% load static %}
{% block title %} Vidéos {% endblock title %}

{% block body %}
<header>
    <div class="edge-header"></div>
</header>
<main class="home-st">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'accueil' %}">Accueil</a></li>
                <li class="breadcrumb-item active">Vidéos</li>
            </ol>
        </nav>
        <div class="row">
            {% for v in page_obj %}
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="modal fade" id="video_{{ v.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body mb-0 p-0">
                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                    <iframe class="embed-responsive-item"
                                        src="https://www.youtube-nocookie.com/embed/{{ v.code }}" allow="clipboard-write;" allowfullscreen loading="lazy"></iframe>
                                </div>

                            </div>
                            <div class="modal-footer justify-content-center">
                                <span class="mr-4">{{ v.name }}</span>
                                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                    data-dismiss="modal">Fermer</button>
                            </div>

                        </div>

                    </div>
                </div>

                <a><img class="img-fluid z-depth-1" src="{{ v.image.url }}" alt="video" data-toggle="modal"
                        data-target="#video_{{ v.id }}" loading="lazy"></a>

            </div>
            <script>
                $('#video_{{ v.id }}').on('hidden.bs.modal', function (e) {  
                    $('#video_{{ v.id }} iframe').attr("src", $("#video_{{ v.id }} iframe").attr("src"));
                });
            </script>
            {% endfor %}
        </div>
        <div class="text-center">
            <nav class="pagination justify-content-center" aria-label="Page navigation example">
              <ul class="step-links pagination pg-red">
                  {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page=1"><i class="fas fa-angle-double-left mr-2"></i> premier</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">précédent</a></li>
                  {% endif %}
          
                  <li class="current page-item mx-3">
                      Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                  </li>
          
                  {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">suivant</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">dernier<i class="fas fa-angle-double-right ml-2"></i></a></li>
                  {% endif %}
              </ul>
          </nav>
      </div>
    </div>
</main>
{% endblock body %}