Django==2.1.15
django-allauth==0.44.0
django-appconf==1.0.5
django-autoslug==1.9.8
django-cities-light==3.8.0
django-ckeditor==6.0.0
django-compressor==2.4.1
django-crispy-forms==1.11.2
django-filebrowser==3.12.1
django-grappelli==2.13.4
Pillow
progressbar2
